

.title{
  text-align: center;
  margin: 80px auto;
}

.content {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-gap: 20px;
  &__card {
    max-width: 300px;
    width: 300px;
    padding: 24px;
    border: 1px dashed purple;
    border-radius: 16px;
    &-img{
      border-radius: 50%;
      width: 100%;
    }
    &-title{
      margin-top: 20px;
      font-weight: 700;
      color: purple;
    }
    &-text{
      margin: 0;
    }
    &-span{
      color: rgb(0, 0, 0);
      font-size: 18px;
    }
  }
}
